.jumbotron{
    width: 100%;
    overflow: hidden;
}
.centrado{
    position: relative;
    top: 35%;
    left: 30%;
}

.image-example{
    text-align: center;
}

.circle{
    width: 150px;
    height: 150px;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
    margin: 0 auto;
}

.btn-start {
    position: relative;
    top: -50%;
}

.container{
    margin-top: 30px;
}

.img_portada{
    max-width: 150px;
}

.img_libro{
    max-width: 80%;
}

#control-container{
    height: 80px;
    line-height: 80px;
}

.vertical-btn{
    vertical-align: middle;
}